@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

.wp-block-columns {
    margin:0px;
}

/* MENU */
.main-menu-link {
    font-size: 16px !important;
    margin-right: 30px;
}
.main-menu-link:active {
    border:none;
}

#menu-item-26 .text-wrap {
    background: #DC9F96;
    padding: 30px 60px 30px 60px;
    height: 100px !important;
    color:#fff !important;
    font-size: 16px;
    font-weight: 700;
}
#menu-item-26 .text-wrap:hover {
    background-color: #C02E44;
    margin: 0;
}
#menu-item-26:active {
    border: none;
}

#menu-item-28 .text-wrap {
    color:#000 !important;
    font-size: 16px;
    font-weight: 400;
}
#menu-item-28:active {
    border: none;
}

/* Accueil */
.energie {
    margin-bottom: 60px;
}
/* Galerie images goûts + bouton */
.image-goutsA {
    padding:10px 20px 0px 20px;
}
.rowimage {
    display: flex;
    justify-content: center;
	margin-bottom:15px;
}

.image-containerA {
	position:relative;
    padding:15px;
}

.image-containerA img {
    max-width: 100%; 
	/* Empêche les images de dépasser de leur conteneur */
}

.caption {
    position: absolute;
	top:140px;
	left:205px;
	transform: translate(-50%, -50%);
	font-family:Syne !important;
	font-weight:800;
	color: #fff;
	font-size:44px;
	line-height:1.3;
	text-align:center;
	max-width:100%;
	white-space:nowrap;
}

/* Bouton Accueil */
.button-containerA {
    text-align: center;
	padding-top:20px;
	padding-bottom:40px;
}
.commander-btnA {
    display: inline-block;
    padding: 15px 60px;
	border-radius:7px;
    background-color: #E0B9B4; 
    color: #fff;
	font-size:15px;
    text-decoration: none; 
    border: none;
    text-decoration: none !important;
}

/* Vagues sur Accueil */
.curved_shadow {
    background: #ECE2DA;
    padding-top:30px;
    padding-bottom: 60px;
    border-bottom: 0px;
    border-radius: 100% / 0 0 20% 20%;
    box-shadow: 0px 10px #e3d9d0;
}

.energie-plante {
    margin-top: 100px;
    margin-bottom: 100px;
}

.has-text-align-center {
    line-height: normal;
}

/* Les Goûts titre et paragraphe */
.content {
    text-align: center;
}

.content h1 {
    color: #d2776a;
    margin-top:20px;
    margin-bottom: 0px;
    font-size: 30px;
}

.content p {
    font-family: Syne !important;
    font-size: 20px;
    color: #000;
}

.curved {
    background: #ECE2DA;
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 0px;
    border-radius: 100% / 0 0 10% 10% !important;
    width: 100%;
}
.pense {
    margin-top: 80px;
}
.block_avis{
    display: flexbox;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.avis {
    line-height: 1.3;
}

/* Nous renconter */
.title_rencontre {
    padding-bottom: 40px;
}
.text_rencontre {
    padding-top: 160px;
    line-height: 1;
}
.block_rencontre {
    background: #ECE2DA;
    padding-top: 30px;
    padding-bottom: 70px;
    border-radius: 100% / 0 0 30% 30%;
    background-image: url('http://localhost:8888/planty1/wp-content/uploads/2024/02/Group-2.png');
    background-repeat: no-repeat;
    background-size: 13%;
    background-position: top 70px left 150px;
}
.title_equip {
    margin-top: 70px;
    margin-bottom: 60px;
}
.block_equip {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.block_equipe {
    background-image: url('http://localhost:8888/planty1/wp-content/uploads/2024/02/Group-4.png');
    background-repeat: no-repeat;
    background-size: 13%;
    background-position: bottom 0px right 55px;
}

/* Formulaire de Contact */
.contact {
	padding-top:80px;
	padding-bottom:40px;
	text-align:center;
	background:#ECE2DA;
	background-image: url('http://localhost:8888/planty1/wp-content/uploads/2024/02/Group-16.png');
	background-repeat: no-repeat;
	background-size: 12%;
	background-position: bottom 80px left 450px;
}

.titre2-contact {
	text-align:center;
	color:#000 !important;
}

.form-form-contact{
	display:flex;
	flex-direction:column;
}

.form-contact{
	width:70%;
	max-width:400px;
	margin:auto;
	padding-top:20px;
	text-align:start;
	color:#000;
}

.formulaire_background textarea {
	padding: 20px;
}

.container_formulaire textarea {
	padding-bottom:30px;
}

/* Bouton "Envoyer" */
.button-envoyer {
    margin-top: 15px;
	width:100%;
	height:60px;
}

.button {
    padding: 25px 60px;
    background-color: #E0B9B4; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
	font-size:15px;
}

/* Commander */
.cde {
    margin:0;
    padding:60px 290px 100px;
    text-align:center;
    background: #3B8E46;
}

.titre1-cde {
    padding-bottom:30px;
    color:#ffff !important;
}

.titre2-cde {
    text-align:start !important;
    color:#ffff !important;
}

.image-gouts {
    display: flex;
    justify-content: space-between;
    margin-top:40px;
}

.image-container img {
    flex: 1;
}

.image-containerC {
    position: relative;
    display: space-between;
    padding:10px;
}

.overlayC {
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color:inherit;
    padding: 20px 20px;
}

.text-whiteC {
    display:inline-block;
    width:180px;
    color: #ffff;
    text-align: center;
    font-size: 24px;
}

.quantity input[type="number"] {
    text-align:center;
    font-size:16px;
    width: 70px;
    height:60px;
    margin-top:20px;
    margin-bottom:40px;
    padding: 4px;
    border: 1px solid #ccc;
}

/* Masquer les flèches dans Chrome */
.quantity input[type="number"]::-webkit-inner-spin-button,
.quantity input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Masquer les flèches dans Firefox */
.quantity input[type="number"] {
    -moz-appearance: textfield;
}

.form {
    display:flex;
    justify-content:space-between;
}

.form-form {
    width:100%;
    margin:0px;
    padding:20px 0px 0px 0px;
    text-align:start;
    color:#ffff;
}

/* Styles champs formulaire */
label
    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="textarea"],
textarea {
    background-color:#ffff !important;
    margin-top:10px;
    margin-bottom:20px;
    height:70px;
    border-radius:7px !important;
}
    
.labelfont {
    font-size:20px;
    font-weight:400;
}

.labelfontCde {
    color:#ffff !important;
}

.labelfontContact {
    color:#000 !important;
}

/* Bouton page "Commander"*/
.button:active {
    background-color:#E0B9B4 !important;
}
.button:hover {
    background-color:#E0B9B4 !important;
}

.button-cde {
    margin-top: 20px;
    width:100%;
    height:60px;
}

.button {
    padding: 20px 45px;
    background-color: #E0B9B4; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size:15px;
}

/* Séparateur */
.separator {
    width: 100%; 
    height: 1px !important;
    background-color: #ffff; 
    margin-bottom:30px;
}

.separator-vertical {
    width: 2px !important;
    height:447px;
    margin-top:20px;
    margin-left:40px;
    margin-right:40px;
    background-color:#ffff;
}


/* Footer */
footer {
    text-align: center;
    background-color: #FFFF;
    margin-top: 0;
    padding: 20px; /* Espace intérieur du pied de page */
 }
 
 footer a {
    margin: 20px;
    top: 60px;
    left: 66px;
 }
 
 .footer-text {
    font-size: 16px;
    text-decoration: none !important;
 }

 .footer-text:hover {
    color: inherit;
 }

.footer-link::after {
    content: " Mentions légales";
    display: inline;
    outline: none;
}


 /***** Media queries *****/

/* iPads */
@media only screen and (min-width : 768px) and (max-width : 1024px){

/* Menu */
.main-menu-link {
    font-size: 14px !important;
}
#menu-item-26 .text-wrap {
    background: #DC9F96;
    padding: 30px 60px 30px 60px;
    height: 100px !important;
    color:#fff !important;
    font-size: 14px;
    font-weight: 700;
}
#menu-item-26 .text-wrap:hover {
    background-color: #C02E44;
}
#menu-item-28 .text-wrap {
    color:#000 !important;
    font-size: 14px;
    font-weight: 400;
}
.logo {
    display: none;
}
.custom-logo-link {
    display: block;
}

/* Accueil */
.energie {
    font-size: 35px !important;
}
.plante {
    padding-bottom: 30px;
}
.caption {
    position: absolute;
    top:50%;
    left:50%;
    font-size: 38px;
    transform: translate(-50%, -50%);
}
.pense {
    margin-bottom: 60px;
}
.block_avis{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}
.wp-image-52 {
    width: 90px !important;
    height: 100px !important;
}
.wp-image-53 {
    width: 90px !important;
    height: 100px !important;
}
.wp-image-57 {
    width: 90px !important;
    height: 100px !important;
}
.nom {
    font-size: 23px !important;
}
.avis {
    line-height: 1.3;
    font-size: 13px !important;
}
.wp-block-column-is-layout-flow {
    flex-basis: 0 !important;
    width: 50% !important;
}

/* Rencontre */
.block_rencontre {
    padding-top: 0px;
    background-image: url('http://localhost:8888/planty1/wp-content/uploads/2024/02/Group-2.png');
    background-repeat: no-repeat;
    background-size: 13%;
    background-position: top 20% left 13px;
}
.title_rencontre {
    padding-top: 40px;
    font-size: 28px;
}
.text_rencontre {
    padding-top: 70px;
}
.block_equip {
    display: flex;
    flex-direction: row;
    padding: 0px !important;
}
.block_equipe {
    padding-top: 15px;
    background-image: url('http://localhost:8888/planty1/wp-content/uploads/2024/02/Group-4.png');
    background-repeat: no-repeat;
    background-size: 16%;
    background-position: bottom 0% right 0%;
}
.wp-block-columns {
    margin-left: 80px;
    width: 80%;
    height: 80%;
}
.contact {
	background-image: url('http://localhost:8888/planty1/wp-content/uploads/2024/02/Group-16.png');
	background-repeat: no-repeat;
	background-size: 20%;
	background-position: bottom 14% left 18%;
}

/* Commande */
.cde {
    padding:60px 60px 10px;
    text-align:center;
    background: #3B8E46;
}
.titre1-cde {
    font-size: 30px;
    padding-bottom:30px;
    color:#ffff !important;
}
.titre2-cde {
    font-size: 25px;
    text-align:start !important;
    color:#ffff !important;
}
.image-gouts {
    flex-direction: row;
}
.overlayC {
    position: absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color:inherit;
    padding: 20px 20px;
}
.text-whiteC {
    display:inline-block;
    width:100%;
    font-size: 18px;
    color: #ffff;
    text-align: center;
}
.form {
    flex-direction: column;
    padding: 60px 60px 10px;
}
.labelfont {
    font-size:16px;
    font-weight:400;
}
.separator {
    width: 100%; 
    height: 1px !important;
    background-color: #ffff; 
    margin-bottom:30px;
}
.separator-vertical {
    width: 100% !important; 
    height: 1px !important;
    background-color: #ffff;
    margin-left: 0px !important;
    margin-top: 30px;
    margin-bottom:30px;
}
.button-cde {
    margin-top: 20px;
    margin-bottom: 40px;
    width:100%;
    height:60px;
}
.button {
    padding: 16px 20px;
    background-color: #E0B9B4; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size:13px;
}
}

/* Smartphones */
@media only screen and (min-width : 320px) and (max-width : 767px) {
    
    /* Menu */
    .oceanwp-mobile-menu-icon a.mobile-menu.opened .oceanwp-close-text {
        display: none;
    }
    .main-menu-link {
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
        font-size: 14px !important;
        padding: 0px 0px 0px 40px !important;
    }
    .custom-logo-link {
        display: block;
        width: 25%;
        margin: 10px 20px 10px 10px;
    }
    .oceanwp-text {
        display: none;
    }
    /* Accueil */
    .energie {
        font-size: 18px !important;
    }
    .text-wrap {
        outline: none;
    }
    .energie-plante {
        padding-top: 0px !important;
    }
    .plante {
        padding-top: O !important;
        padding-bottom: 30px;
        font-size: 18px !important;
    }
    .text_plante {
        font-size: 16px !important;
    }
    .rowimage {
        flex-direction: column;
        margin-bottom: 0;
    }
    .caption {
        position: absolute;
        top:50%;
        left:50%;
        font-size: 28px;
        transform: translate(-50%, -50%);
    }
    .block_avis {
        display: flexbox;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .pense {
        font-size: 22px !important;
    }
    .avis {
        margin-bottom: 10%;
    }
    
    /* Rencontre */
    .block_rencontre {
        padding-top: 0px;
        background-image: url('http://localhost:8888/planty1/wp-content/uploads/2024/02/Group-2.png');
        background-repeat: no-repeat;
        background-size: 20%;
        background-position: top 7% left 10%;
    }
    .title_rencontre {
        padding-top: 20px;
        font-size: 25px;
    }
    .text_rencontre {
        padding-top: 40px;
    }
    .block_equip {
    display: flexbox !important;
    flex-direction: column !important;
    }
    .block_equipe {
    background-image: url('http://localhost:8888/planty1/wp-content/uploads/2024/02/Group-4.png');
    background-repeat: no-repeat;
    background-size: 33%;
    background-position: bottom 0px right 3%;
}
.contact {
	background-image: url('http://localhost:8888/planty1/wp-content/uploads/2024/02/Group-16.png');
	background-repeat: no-repeat;
	background-size: 30%;
	background-position: bottom 16% left 1%;
}

/* Commande */
.cde {
    margin:0;
    padding:60px 29px 10px;
    text-align:center;
    background: #3B8E46;
}
.titre1-cde {
    font-size: 21px;
    padding-bottom:30px;
    color:#ffff !important;
}
.titre2-cde {
    font-size: 19px;
    text-align:start !important;
    color:#ffff !important;
}
.image-gouts {
    flex-direction: column;
}
.overlayC {
    position: absolute;
    top:35%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color:inherit;
    padding: 20px 20px;
}
.text-whiteC {
    display:inline-block;
    width:100%;
    font-size: 28px;
    color: #ffff;
    text-align: center;
}
.form {
    flex-direction: column;
}
.labelfont {
    font-size:15px;
    font-weight:400;
}
.separator-vertical {
    width: 100% !important; 
    height: 1px !important;
    background-color: #ffff;
    margin-left: 0px !important;
    margin-top: 30px;
    margin-bottom:30px;
}
.button-cde {
    margin-top: 20px;
    margin-bottom: 40px;
    width:100%;
    height:60px;
}
.button {
    padding: 16px 20px;
    background-color: #E0B9B4; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size:13px;
}
}